<div class="centered-content">
  <div class="modal-box">
    <h1 class="title is-green">Create new task</h1>
    <input
      #taskTitleInput
      class="input is-primary is-medium"
      type="text"
      placeholder="Insert list name"
    />
    <div style="margin-top: 2rem" class="buttons is-right">
      <button class="button is-medium" routerLink="/">Go back</button>
      <button
        class="button has-text-weight-bold has-text-white is-primary is-medium"
        (click)="createTask(taskTitleInput.value)"
      >
        Create
      </button>
    </div>
  </div>
</div>
